# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# dotenv files (for local secrets)
.env

# System files
.DS_Store
Thumbs.db
